body {
    margin: 0px;
    padding: 0px;
}

.p {
    margin: 0px;
    padding: 0px;
}

/* Настройка текста(шрифт) */

span {
    font-style: italic;
}

.bolt-text {
    font-weight: bold;
}

.histori-text {
    font-style: unset;
    font-size: x-large;
}


/* Настройка таблицы */

ul {
    list-style: none;
}

.dot-text {
    list-style: disc;
}

/* Настройка панелей истории и тайтлов */

.list-conteiner {
    text-align: left;
    display: inline-block;
    border-style: solid; 
    border-width: 0.5px;
    background-color: rgb(28, 220, 34);
    padding-right: 20px;
}

.title {
    font-size: x-large;
}

/* Настройка расположения элементов на странице */



.list-conteiner2 {
    display: flex;
    float: right;
    background-color: brown;
    text-align: center;
    flex-direction: column;
}

.list-conteiner2>div {
    border-style: solid;
    border-width: 0.5px;
}

.img1 {
    max-width: 125px;
    padding-top: 10px;
}

.padding-text {
    padding-left: 20px;
}


/* Верхняя нав. панель */

.nav-conteiner {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}

.nav-conteiner>nav>ul {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.nav-conteiner>nav>ul>li {
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
}

@media (max-width: 900px) {
    .nav-conteiner {
        flex-direction: column;
    }
}

.page {
    display: flex;
    justify-content: center;
    
}

.header {
width: 23%;
background-color: aquamarine;
}

.section {
width: 73%;
}

.header>ul {
    margin: 0px;
    padding: 0px;
}

.border-style {
    border-bottom-style: solid;
    border-width: 0.25px;
}

.header>div {
    width: 100%;
}

.header>div>img {
    width: 100%;
}