span {
    font-style: italic;
}

.bolt-text {
    font-weight: bold;
}

.histori-text {
    font-style: unset;
    font-size: x-large;
}

ul {
    list-style: none;
}

.dot-text {
    list-style: disc;
}

.list-conteiner {
    text-align: left;
    display: inline-block;
    border-style: solid; 
    border-width: 0.5px;
    padding-right: 20px;
}

.list-conteiner>p {
    text-align: center;
    font-weight: bold;
}
